@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  @apply bg-slate-700 text-white grid;
  grid-template-rows: min-content 1fr min-content;
}

header > nav {
  @apply p-4;
}

header > nav:first-of-type {
  @apply border-b-2 text-xl;
}

.links {
  @apply grid gap-4 underline;
}

.inner-links {
  @apply pl-4 grid gap-2 mt-1 text-base no-underline;
}

body {
  @apply grid;
  grid-template-columns: max-content 1fr;
}

html, body {
  @apply h-full;
}

.gh-link {
  @apply p-2 text-center underline;
}

header a:hover {
  @apply text-gray-300;
}

main {
  @apply p-4;
}

main > h1 {
  @apply text-2xl mb-8;
}

.category-container-grid {
  @apply grid gap-4;
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}

.category-container-grid > .product-category {
  @apply p-4 bg-slate-200 rounded-md;
}

.category-container-grid > .product-category > h2 {
  @apply mb-4 text-xl underline;
}

.detail_container > .product-category > h2, .detail_container > .product-item > h2{
  @apply mt-2 text-xl underline;
}

.name {
  @apply text-lg;
}

.list_of_items {
  @apply grid gap-4;
  grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
}

.list_of_items > a {
  @apply bg-slate-200 rounded p-2 text-center; 
}

.detail-container {
  @apply grid gap-x-4;
  grid-template-columns: max-content 1fr;
}

.item_category_heading {
  @apply mt-2;
}

.create-form > form {
  @apply grid gap-x-4 gap-y-2;
  grid-template-columns: max-content 1fr;
}

form > input, form > textarea, form > select {
  @apply border rounded p-2;
}

select {
  @apply bg-slate-100;
}

.primary-button {
  @apply rounded bg-sky-300 col-span-2 p-2 w-32 mx-auto hover:bg-white border-sky-300 border-2;
}

.delete-confirm {
  @apply my-4;
}